---
layout: page
title: hackernauts
tagline: ego hack, ergo sum
---
{% include JB/setup %}


{% for post in paginator.posts %}

    {% if post.linkedlist %}

        <h2> 
            <a href=" {{post.url }} ">#! </a><a href="{{ post.baselink }}" style="color: #174A8B;">{{ post.title }}</a>
        </h2>
    
    {% else %}  
        <h2> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> </h2>
        
    {% endif %}

<hr>
{{ post.content }}
<hr>

<br />
{% endfor %}

<div id="post-pagination" class="pagination">
 
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  {% else %}
    <span>Previous</span>
  {% endif %}


  {% if paginator.next_page %}

    | <a href="/page{{paginator.next_page}}">Next</a>
    
  {% else %}
   | <span>Next</span>
  {% endif %}

</div>