/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@font-face {
    font-family: 'DejaVuSerifBook';
    src: url("/assets/themes/hackernauts/fonts/DejaVuSerif-webfont.eot");
    src: url("/assets/themes/hackernauts/fonts/DejaVuSerif-webfont.eot?#iefix") format('embedded-opentype'),
         url("/assets/themes/hackernauts/fonts/DejaVuSerif-webfont.woff") format('woff'),
         url("/assets/themes/hackernauts/fonts/DejaVuSerif-webfont.ttf") format('truetype'),
         url("{/assets/themes/hackernauts/fonts/DejaVuSerif-webfont.svg#DejaVuSerifBook") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KontrapunktLight';
    src: url('/assets/themes/hackernauts/fonts/Kontrapunkt-Light-webfont.eot');
    src: url('/assets/themes/hackernauts/fonts/Kontrapunkt-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/hackernauts/fonts/Kontrapunkt-Light-webfont.woff') format('woff'),
         url('/assets/themes/hackernauts/fonts/Kontrapunkt-Light-webfont.ttf') format('truetype'),
         url('/assets/themes/hackernauts/fonts/Kontrapunkt-Light-webfont.svg#KontrapunktLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'InconsolataMedium';
    src: url('/assets/themes/hackernauts/fonts/Inconsolata-webfont.eot');
    src: url('/assets/themes/hackernauts/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/hackernauts/fonts/Inconsolata-webfont.woff') format('woff'),
         url('/assets/themes/hackernauts/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('/assets/themes/hackernauts/fonts/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/assets/themes/hackernauts/fonts/BebasNeue-webfont.eot');
    src: url('/assets/themes/hackernauts/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/hackernauts/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/assets/themes/hackernauts/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/assets/themes/hackernauts/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	text-align: justify;
	max-width: 768px;
	width: 60.111%;
	margin-right: 2.222%;
	margin-left: 15%;
	margin-bottom: 3em;
	margin-top: 3em;
	font: .9em 'DejaVuSerifBook', helvetica, arial, clean, sans-serif;
    background-color: white;
}

h1 {
	font: 2.2em 'BebasNeueRegular', helvetica, arial, clean, sans-serif;
	text-decoration: none;
	line-height: 2.2em;
}

h2 {
	font: 1.7em 'BebasNeueRegular', helvetica, arial, clean, sans-serif;
	text-decoration: none;
	padding-top: 20px;
}

h3 {
	font: 1.4em 'BebasNeueRegular', helvetica, arial, clean, sans-serif;
	text-decoration: none;
	padding-bottom: 0;
	margin-bottom: -12px;
	
}

h4, h5, h6 {
	font: 1.8em 'BebasNeueRegular', helvetica, arial, clean, sans-serif;
    text-decoration: none;
	margin-bottom: -1px;
}

h2 a {
	text-decoration: none;
	color: #a00;
}


p {
  margin: 1em 0;
}

a {
	color: #a00;
}

ul {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

li {
	padding: 5px 0 5px 0;
}

a:hover {
  color: #a00;
}


img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table {
  font-size: inherit;
  font: 100%;
}

sup {
	font-size: 10px;
	line-height: 0px;
}

blockquote {
	font: 95% 'KontrapunktLight', helvetica, arial, clean, sans-serif;
	color: #4B4B4B;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}


sup a {
	text-decoration: none;
	top: 0.3em;
	font-size: 10px;
	position: relative;
	vertical-align: baseline;
}

p {
	line-height: 1.4em;
}

pre {
	border-radius: 5px 5px 5px 5px;
    background-color: #272822;
    width: 90%;
	margin-left:auto;
	margin-right:auto;
/*	white-space: pre-wrap;*/
/*	word-wrap: break-word;*/
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	line-height: 2em;
}

code {
	color: black;
	font: 1em 'InconsolataMedium',"Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L", Monaco,Courier,monospace,sans-serif;
	
}

pre code {
	color: white;
}



a {
    color: #a00;
}

  a:hover {
	color: black;
}

.linkedlist a {
	color: #174A8B;
}

.linkedlist a:hover {
	color: black;
}

.title {  
  font: 3.0em 'BebasNeueRegular', helvetica, arial, clean, sans-serif;
/*  color: #a00;*/
  font-weight: bold;
  text-align: center;
/*  position: fixed;
  margin-left: 62%;*/

}

.menu {
	font-size: 14px;
}

.title .menu{
	font: .7em 'DejaVuSerifBook', helvetica, arial, clean, sans-serif;
	list-style-type: none;
	font-weight: none;
	font-size: .7em;
	padding-top: -10px;
}

.title a {
    color: #a00;
    text-decoration: none;

}

.title a:hover {
    color: black;
}

.title a.extra {
	font-size: .4em;
    color: #aaa;
    text-decoration: none;
/*    margin-left: 1em;*/
}

.title a.extra:hover {
    color: black;
}

.meta {
    color: #aaa;
	font-size: 60%;
}

.footnotes {
	font-size: 85%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.footer {
    font-size: 70%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
      float: left;
      margin-right: 3em;
}

.footer .contact a {
        color: #8085C1;
}

.footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
}

.footer .rss img {
      border: 0;
}

#related {
  margin-top: 2em;
}

#related h2 {
	font: 1.8em 'BebasNeueRegular';
	margin-bottom: -1px;
}

#related ul {
	list-style-type: none;
}

.archive h3 {
	margin-bottom: 3px;
}

.archive ul {
	list-style-type: none;
	margin-bottom: 15px;
}

.archive li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.next a {
	color: green;
}

.gist{
  margin: 15px 0 !important;
}

.gist-file{
  border: none !important;
}

.gist-meta{
  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;

}

.gist-data{
  padding: 15px !important;
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

.lineno {
	margin-left: -10px;
	padding-right: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}